[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gvikei
[access "refs/for/refs/*"]
	read = group user/gvikei
	push = group user/gvikei
	label-Code-Review = -2..+2 group user/gvikei
	label-Verified = -1..+1 group user/gvikei
	rebase = group user/gvikei
	removeReviewer = group user/gvikei
	submit = group user/gvikei
[access "refs/heads/*"]
	read = group user/gvikei
	create = group user/gvikei
	push = +force group user/gvikei
	pushMerge = group user/gvikei
[access "refs/tags/*"]
	push = +force group user/gvikei
	pushTag = group user/gvikei
	pushSignedTag = group user/gvikei
